@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Manrope:wght@600;700;800&display=swap');
  html,
  body {
    @apply text-black-600;
  }
}

@layer components {
  tr {
    @apply border-t border-gray-600;
  }

  td {
    @apply px-2 py-3;
  }

  tbody:last-child {
    @apply border-b border-gray-600;
  }

  .chart {
    height: 260px;
  }
  .chart-tooptip {
    border: none;
    outline: none;
    @apply font-bold font-head text-sm text-primary-900;
  }

  @screen md {
    td {
      @apply px-3 py-4;
    }

    .chart {
      height: 400px;
    }
  }
}
